body {
  background-image: linear-gradient(to right, #B5C1E7 , #EADCD2);
  color: rgb(106, 106, 106);
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(56, 56, 56);
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 630px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.dice {
  padding: 50px;
  text-align: center;
}

.credit {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

p {
  font-family: 'Montserrat', sans-serif;
}